body{
    background-image: url('/img/photo.jpg');
    background-size: cover;
    }

/* .nav{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
} */
.nav-main{
display: flex;
flex-direction: row;
justify-content:space-between ;
align-items: center;
}
